BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk25" SITE "P6";
IOBUF PORT "clk25" IO_TYPE=LVCMOS33;
LOCATE COMP "user_btn_n0" SITE "R7";
IOBUF PORT "user_btn_n0" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_clock" SITE "C8";
IOBUF PORT "sdram_clock" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_clocks_tx" SITE "L1";
IOBUF PORT "eth_clocks_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_clocks_rx" SITE "J1";
IOBUF PORT "eth_clocks_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rst_n" SITE "R6";
IOBUF PORT "eth_rst_n" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdio" SITE "T4";
IOBUF PORT "eth_mdio" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdc" SITE "R5";
IOBUF PORT "eth_mdc" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_ctl" SITE "J2";
IOBUF PORT "eth_rx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[0]" SITE "K2";
IOBUF PORT "eth_rx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[1]" SITE "J3";
IOBUF PORT "eth_rx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[2]" SITE "K1";
IOBUF PORT "eth_rx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[3]" SITE "K3";
IOBUF PORT "eth_rx_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_ctl" SITE "L2";
IOBUF PORT "eth_tx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[0]" SITE "M2";
IOBUF PORT "eth_tx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[1]" SITE "M1";
IOBUF PORT "eth_tx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[2]" SITE "P1";
IOBUF PORT "eth_tx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[3]" SITE "R1";
IOBUF PORT "eth_tx_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in0" SITE "P13";
IOBUF PORT "gpio_in0" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out0" SITE "D4";
IOBUF PORT "gpio_out0" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out1" SITE "E3";
IOBUF PORT "gpio_out1" IO_TYPE=LVCMOS33;
LOCATE COMP "pwm0" SITE "E4";
IOBUF PORT "pwm0" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen_step0" SITE "F5";
IOBUF PORT "stepgen_step0" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen_dir0" SITE "H3";
IOBUF PORT "stepgen_dir0" IO_TYPE=LVCMOS33;
FREQUENCY PORT "eth_rx_clk" 125.0 MHz;

FREQUENCY PORT "eth_tx_clk" 125.0 MHz;

FREQUENCY PORT "clk25" 25.0 MHz;

FREQUENCY PORT "eth_clocks_rx" 125.0 MHz;